@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
font-family: 'KCC-eunyoung';
/* font-size: 10px; */
/*background-color: #effbff;*/
margin: 0;
padding: 0;
line-height: 2rem;
color: #2f1e13;
}
body {
width:100%;
/*display: flex;*/
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(#effbff,#effbff, #b7a086a0);
}

.header {
  position: fixed;
  top: 0;
  z-index:10;
  background-color: #ae9476cd;
padding: 1rem;
padding-left:4rem;
font-size: 1.5rem;
width:100%;
justify-content: center;
align-items: center;
}

.all {

/*display: flex;*/
padding: 1rem 5rem;
flex-direction: column;
justify-content: center;
align-items: center;
}

.btn_box {

 font-size:12rem;
 height: 5rem;
 padding: 3rem;
 padding-top:5rem;
display: grid;
flex-direction: row;
grid-template-columns: 1fr 1fr 1fr;
}
#container{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.btn{
  padding: 0.5rem;
  margin:1.5rem;
 /*width: 300px;*/
  text-align: center;
background:#ae9476;
color:#effbff;
position:relative;
height:3rem;
font-size:2rem;
/*padding:0 2em;*/
cursor:pointer;
transition:800ms ease all;
}
.btn:hover{
background:#b7a086a0;
color:#2f1e13;
}
.btn:before,.btn:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width:0;
background: #937261;
transition:400ms ease all;
}
.btn:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}
.btn:hover:before,.btn:hover:after{
width:100%;
transition:800ms ease all;
}



.chart-box{
padding: 1.2rem;
margin-bottom:5rem;
}
.line1{
  height:5rem;
}
.line{
  height:2px;
background: #937261;
}
.result_text {
padding-top: 2rem;

}
.result_text .text {
padding: 1rem 3rem 4rem;
/*background-color:#dac8becf;*/
}

.result_text .text .title{
padding-bottom: 1rem;
font-size: 2rem;
}

.result_text .text .contents{
padding-top: 0.5rem;
text-indent: 10px;
font-size: 1.3rem;
}

.rink_box{
  display: flex;
flex-direction: row;
}
.rink_btn{
  border-radius:10px;
  border: 2px solid #937261;
  padding: 0.5rem;
  margin: 0.5rem;
 width: 150px;
  text-align: center;
background:#856c5c;
color:#fff;
position:relative;
height:2rem;
font-size:1.5rem;
/*padding:0 2em;*/
cursor:pointer;
transition:800ms ease all;
}
.rink_btn:hover{
  border: 2px solid #937261;
background:#b7a086a0;
color:#2f1e13;
}




